/* CSS Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

:root {
    color-scheme: light dark;
}

header, main, footer {
    margin: 0.5rem;
}

button {
    cursor: pointer;
}

fieldset {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    inline-size: auto;
    border-radius: 0.5rem;
}

#add-record-btn-group {
    margin-block: 0.25rem;
}

label {
    font-size: 1.25rem;
    display: block;
    width: auto;
    margin-block: 0.25rem;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid light-dark(#1b1b1b, #a1a1a1);
}

th, td {
    padding: 0.5rem;
}

td {
    text-align: center;
}

#record-breastfeed-event {
    margin-block: 0.5rem;
}

#record-bottle-feed-event {
    margin-block: 0.5rem;
}

#add-feeding-event {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

#add-diaper-change-event {
    display: inline-grid;
}

.active-cell {
    background-color: light-dark(oklch(75% 0.5 130), oklch(0.49 0.167 142.495));
}

hr {
    margin-block: 1rem;
    border-top: 2px solid oklch(0 0 0);
    border-inline: none;
    border-bottom: none;
}

.checkbox-label {
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid light-dark(#1b1b1b, #a1a1a1);
    border-radius: 0.5rem;
}

#add-diaper-change-event {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#add-feeding-event {
    display: flex;
    width: 100%;
}

#add-record-btn-group {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

input {
    font-size: 1.25rem;
}

button {
    font-size: 1.25rem;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid light-dark(#1b1b1b, #a1a1a1);
}